@charset "UTF-8";
/* ====== top bar =========*/
/*图标*/
.fixed-top .navbar-nav-svg {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: text-top;
}

.navbar.fixed-top{
    min-height: 4rem;
    background-color: #24292e;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.fixed-top .navbar-nav .nav-link.active {
    font-weight: 600;
}
/*登录 注册btn*/
.btn-bd-download {
    font-weight: 600;
    color:  #fff;
    border-color: #fff;
}
/* ====== top bar =========*/

body{
	font-size: 0.95rem;
}

/***********************尾部的样式***********************/

/***********************尾部的样式***********************/