HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
###ignore configuration file###
judge.properties
application.properties
application.yml
### my setting ###
application.properties
upload-dir/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.svn/
target/
#.idea/
#*.iml
#.mvn/
#mvnw
#mvnw.*
build/
dist/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
