<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoj.mapper.SolutionMapper">
    <resultMap id="user" type="com.yoj.model.entity.User">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="problem_id" jdbcType="INTEGER" property="problemId"/>
        <result column="solved" jdbcType="INTEGER" property="solved"/>
        <result column="totalRunTime" jdbcType="INTEGER" property="totalRunTime"/>
        <association property="nickName" javaType="String"
                     select="com.yoj.mapper.UserMapper.getNickNameById"
                     column="user_id">
        </association>
    </resultMap>
    <resultMap id="contestSolution" type="com.yoj.model.entity.Solution">
        <id column="solution_id" jdbcType="INTEGER" property="solutionId"/>
        <result column="problem_id" jdbcType="INTEGER" property="problemId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="contest_id" jdbcType="INTEGER" property="contestId"/>
        <result column="runtime" jdbcType="INTEGER" property="runtime"/>
        <association property="score" javaType="INTEGER"
                     select="com.yoj.mapper.ContestProblemMapper.getScore"
                     column="{contestId = contest_id,problemId = problem_id}">
        </association>
        <association property="nickName" javaType="String"
                     select="com.yoj.mapper.UserMapper.getNickNameById"
                     column="user_id">
        </association>
    </resultMap>
    <resultMap id="solutionList" type="com.yoj.model.entity.Solution">
        <id column="solution_id" jdbcType="INTEGER" property="solutionId"/>
        <result column="problem_id" jdbcType="INTEGER" property="problemId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="runtime" jdbcType="INTEGER" property="runtime"/>
        <association property="nickName" javaType="String"
                     column="user_id">
        </association>
    </resultMap>

    <sql id="Base_Column_List">
    solution_id, problem_id,user.user_id,nick_name,language, result, runtime, memory, submit_time,share
    </sql>

    <select id="getContestRankList" parameterType="java.lang.Integer"
            resultMap="user">
-- 排序按照解题数降序，运行时间升序排列
        SELECT user_id,SUM(min_runtime) as totalRunTime,COUNT(problem_id) as solved FROM
        (SELECT user_id,problem_id,MIN(runtime) as min_runtime FROM solution
        WHERE contest_id = #{cid} AND result = 0  GROUP BY problem_id,user_id) as ssc GROUP BY user_id
                ORDER BY solved DESC,totalRunTime ASC
    </select>

    <select id="getListBySelective" parameterType="com.yoj.model.entity.Solution"
            resultType="com.yoj.model.entity.Solution">
        SELECT
        <include refid="Base_Column_List"></include>
        from solution,user
        <where>
            <if test="solutionId != null">
                and solution_id = #{solutionId}
            </if>
            <if test="problemId != null">
                and problem_id LIKE concat('%',#{problemId},'%')
            </if>
            <if test="userId != null">
                and user.user_id = #{userId}
            </if>
            <if test="nickName != null">
                and nick_name LIKE concat('%',#{nickName},'%')
            </if>
            <if test="language != null">
                and language = #{language}
            </if>
            <if test="result != null">
                and result = #{result}
            </if>
            <if test="contestId != null">
                and contest_id = #{contestId}
            </if>
            and user.user_id = solution.user_id
        </where>
        order by solution_id desc
    </select>
    <select id="countBySelective" parameterType="com.yoj.model.entity.Solution" resultType="java.lang.Long">
        SELECT count(*) from solution
        <where>
            <if test="solutionId != null">
                and solution_id = #{solutionId}
            </if>
            <if test="problemId != null">
                and problem_id = #{problemId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="userName != null">
                and user_name = #{userName}
            </if>
            <if test="language != null">
                and language = #{language}
            </if>
            <if test="result != null">
                and result = #{result}
            </if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="com.yoj.model.entity.Solution" useGeneratedKeys="true"
            keyColumn="solution_id" keyProperty="solutionId">
        insert into solution
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!--<if learn="solutionId != null">-->
            <!--solution_id,-->
            <!--</if>-->
            <if test="problemId != null">
                problem_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="contestId != null">
                contest_id,
            </if>
            <if test="language != null">
                language,
            </if>
            <if test="result != null">
                result,
            </if>
            <if test="runtime != null">
                runtime,
            </if>
            <if test="memory != null">
                memory,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="errorMessage != null">
                error_message,
            </if>
            <if test="testResult != null">
                test_result,
            </if>
            <if test="share != null">
                share,
            </if>
            <!--<if learn="submitTime != null">-->
            submit_time,
            <!--</if>-->
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <!--<if learn="solutionId != null">-->
            <!--#{solutionId,jdbcType=INTEGER},-->
            <!--</if>-->
            <if test="problemId != null">
                #{problemId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="contestId != null">
                #{contestId,jdbcType=INTEGER},
            </if>
            <if test="language != null">
                #{language,jdbcType=SMALLINT},
            </if>
            <if test="result != null">
                #{result,jdbcType=SMALLINT},
            </if>
            <if test="runtime != null">
                #{runtime,jdbcType=INTEGER},
            </if>
            <if test="memory != null">
                #{memory,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=LONGVARCHAR},
            </if>
            <if test="errorMessage != null">
                #{errorMessage,jdbcType=LONGVARCHAR},
            </if>
            <if test="testResult != null">
                #{testResult,jdbcType=LONGVARCHAR},
            </if>
            <if test="share != null">
                #{share,jdbcType=TINYINT},
            </if>
            NOW()
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yoj.model.entity.Solution">
      UPDATE solution SET result = #{result},runtime=#{runtime},memory=#{memory},error_message = #{errorMessage},
      test_result=#{testResult} where solution_id = #{solutionId};
    </update>

    <select id="getByContestId" parameterType="java.lang.Integer" resultMap="contestSolution">
        SELECT solution_id,problem_id,user_id,MIN(runtime) as runtime,contest_id FROM solution
        WHERE contest_id = #{contestId} AND result = 0 GROUP BY problem_id,user_id
    </select>
</mapper>
        <!--<resultMap id="BaseResultMap" type="com.yoj.model.entity.Solution">-->
        <!--<id column="solution_id" jdbcType="INTEGER" property="solutionId"/>-->
        <!--<result column="problem_id" jdbcType="INTEGER" property="problemId"/>-->
        <!--<result column="user_id" jdbcType="INTEGER" property="userId"/>-->
        <!--<result column="user_name" jdbcType="VARCHAR" property="userName"/>-->
        <!--<result column="language" jdbcType="SMALLINT" property="language"/>-->
        <!--<result column="result" jdbcType="SMALLINT" property="result"/>-->
        <!--<result column="runtime" jdbcType="INTEGER" property="runtime"/>-->
        <!--<result column="memory" jdbcType="INTEGER" property="memory"/>-->
        <!--<result column="submit_time" jdbcType="TIMESTAMP" property="submitTime"/>-->
        <!--</resultMap>-->