<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/assets/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="form-signin" th:action="@{/user/login}" method="post">
                <img class="mb-4" src="asserts/img/bootstrap-solid.svg" th:src="@{/assets/img/bootstrap-solid.svg}" alt=""
                     width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
                <!--判断-->
                <p th:if="${loginError}" style="color: red" class="error">用户名/密码错误</p>
                <label class="sr-only">用户名</label>
                <input type="text" name="userName" class="form-control" placeholder="用户名"
                       required=""
                       autofocus="">
                <label class="sr-only">密码</label>
                <input type="password" name="password" class="form-control" placeholder="密码"
                       required="">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="remember">记住我
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                <a class="btn btn-lg btn-primary btn-block" th:href="@{/templates/user/register.html}">注册</a>
                <!--<a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>-->
                <!--<a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>-->
            </form>
        </div>
    </div>
    <!--引入footer-->
    <footer th:replace="commons/bar::footer"></footer>
</div>

<script type="text/javascript"
        src="../../static/assets/js/bootstrap.min.js"
        th:src="@{/assets/js/common.js}"></script>
</body>

</body>

</html>