<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>YOJ</title>
    <link href=/css/chunk-0f53342d.d3ba6409.css rel=prefetch>
    <link href=/css/chunk-380cf2ec.48ac18f6.css rel=prefetch>
    <link href=/css/chunk-4ad00607.5532f609.css rel=prefetch>
    <link href=/css/chunk-59c83f71.2af81082.css rel=prefetch>
    <link href=/css/chunk-a3367ebe.668471bb.css rel=prefetch>
    <link href=/js/chunk-01945a7a.43173b60.js rel=prefetch>
    <link href=/js/chunk-0f53342d.e5972821.js rel=prefetch>
    <link href=/js/chunk-2d0e96e5.04223924.js rel=prefetch>
    <link href=/js/chunk-380cf2ec.9ccc77fb.js rel=prefetch>
    <link href=/js/chunk-4ad00607.3f0abac4.js rel=prefetch>
    <link href=/js/chunk-59c83f71.d8702411.js rel=prefetch>
    <link href=/js/chunk-87a28e5c.208cd9c6.js rel=prefetch>
    <link href=/js/chunk-a3367ebe.c8340ace.js rel=prefetch>
    <link href=/css/app.e6dbce23.css rel=preload as=style>
    <link href=/css/chunk-vendors.b67e609c.css rel=preload as=style>
    <link href=/js/app.3a0fee3d.js rel=preload as=script>
    <link href=/js/chunk-vendors.aea663e9.js rel=preload as=script>
    <link href=/css/chunk-vendors.b67e609c.css rel=stylesheet>
    <link href=/css/app.e6dbce23.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but yoj-front-end doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/js/chunk-vendors.aea663e9.js></script>
<script src=/js/app.3a0fee3d.js></script>
</body>
</html>