<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4.bootcss.com/favicon.ico">

    <title>题库</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"
          rel="stylesheet">
    <link href="../assets/css/common.css" th:href="@{/assets/css/common.css}"
          rel="stylesheet">  
</head>

<body class="bg-light">

<!--引入topbar-->
<div th:replace="commons/bar::topbar"></div>

<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <table class="table table-hover table-bordered">
                <!---->
                <thead class="thead-light">
                <tr>
                    <th scope="col">PID</th>
                    <th scope="col">状态</th>
                    <th scope="col">名称</th>
                    <th scope="col">标签</th>
                    <th scope="col">递交</th>
                    <th scope="col">AC%</th>
                    <!--<th scope="col">质量</th>-->
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>未提交</td>
                    <td><a href="">A+B Problem</a></td>
                    <td>入门</td>
                    <td>0</td>
                    <td>未知</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>未提交</td>
                    <td><a href="">A+B Problem</a></td>
                    <td>入门</td>
                    <td>0</td>
                    <td>未知</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>未提交</td>
                    <td><a href="">A+B Problem</a></td>
                    <td>入门</td>
                    <td>0</td>
                    <td>未知</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--引入footer-->
    <footer th:replace="commons/bar::footer"></footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../static/assets/js/jquery-3.2.1.slim.min.js"
        th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript" src="../static/assets/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
</body>
</html>