<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--spring security-->
    <meta name="_csrf" th:content="${_csrf.token}" content=""/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" content=""/>
    <link rel="icon" href="/assets/img/favicon.ico">
    <title>添加题目</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"
          rel="stylesheet">
    <link th:href="@{/assets/css/common.css}" rel="stylesheet">
    <style>
        .problem .des {
            margin: 20px 80px 12px 80px;
            padding: 16px 40px 16px 40px;
            background: #e4f1ff;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: "宋体", "Times New Roman";
        }

        .problem .des .sec_header, .problem .des .pdsec {
            font-family: "微软雅黑", "黑体", "宋体";
            margin: 16px 0px 8px 0px;
            font-size: 16px;
        }

        .caseNum {
            font-family: "微软雅黑", "黑体", "宋体";
            margin: 16px 0px 8px 0px;
            font-size: 15px;
        }

        .invalid-feedback {
            font-size: 1rem;
        }

        /*editor css*/
        .toolbar {
            border: 1px solid #ccc;
        }

        .text {
            border: 1px solid #ccc;
            min-height: 200px;
            max-height: 400px;
            overflow: auto;
        }

        /*editor css*/
    </style>
</head>

<body class="bg-light">

<!--引入topbar-->
<div th:replace="commons/bar::topbar"></div>

<div id="app" class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <div class="problem" style="display:block;">
                <div class="input-group mb-3 col-md-6 offset-md-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon0">题目</span>
                    </div>
                    <input name="title" type="text"
                           v-model="title"
                           :class="{'form-control': true,'is-invalid': !titleJudge,'is-valid': titleJudge}"
                           placeholder="题目" aria-label="Username"
                           aria-describedby="basic-addon1">
                    <div class="invalid-feedback">
                        题目不能为空.
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 col-md-6 offset-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">时间限制(ms)</span>
                        </div>
                        <input name="timeLimit" v-model="timeLimit" type="text"
                               :class="{'form-control': true,'is-invalid': !timeLimitJudge,'is-valid': timeLimitJudge}"
                               placeholder="时间限制(ms)"
                               aria-label="Username"
                               aria-describedby="basic-addon1">
                        <div class="invalid-feedback">
                            时间限制不能为空.
                        </div>
                    </div>
                    <div class="input-group mb-3 col-md-6 offset-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">内存限制(MB)</span>
                        </div>
                        <input name="memoryLimit" v-model="memoryLimit" type="text"
                               :class="{'form-control': true,'is-invalid': !memoryLimitJudge,'is-valid': memoryLimitJudge}"
                               placeholder="内存限制(MB)"
                               aria-label="Username"
                               aria-describedby="basic-addon1">
                        <div class="invalid-feedback">
                            内存限制不能为空.
                        </div>
                    </div>
                </div>
                <div class="des">
                    <div class="sec_header">问题描述</div>
                    <div id="description" class="editor">
                        <div class="toolbar"></div>
                        <div class="text"></div>
                    </div>
                    <div class="sec_header">输入格式</div>
                    <div id="formatInput" class="editor">
                        <div class="toolbar"></div>
                        <div class="text"></div>
                    </div>
                    <div class="sec_header">输出格式</div>
                    <div id="formatOutput" class="editor">
                        <div class="toolbar"></div>
                        <div class="text"></div>
                    </div>
                    <div class="sec_header">样例输入</div>
                    <div id="sampleInput" class="editor">
                        <div class="toolbar"></div>
                        <div class="text"></div>
                    </div>
                    <div class="sec_header">样例输出</div>
                    <div id="sampleOutput" class="editor">
                        <div class="toolbar"></div>
                        <div class="text"></div>
                    </div>
                    <div class="sec_header">提示</div>
                    <div id="hint" class="editor">
                        <div class="toolbar"></div>
                        <div class="text"></div>
                    </div>
                    <div class="sec_header">判题用例
                        <button id="addCase" class="btn btn-primary btn-sm" @click="addCase">添加用例</button>
                    </div>
                    <div id="judge-area" class="col-12 mb-3">
                        <div class="mb-3">注意：判题用例最多不能超过10个</div>
                        <div>
                            <judge-case></judge-case>
                            <!--<div class="row caseItem" v-for="(item,index) in judgeData" :key="index">-->
                            <!--<div class="col-12">-->
                            <!--<span class="caseNum">用例{{index+1}}</span>-->
                            <!--<button id="caseBtn1" class="btn btn-danger btn-sm" @click="delCase(index)">删除用例-->
                            <!--</button>-->
                            <!--</div>-->
                            <!--<div class="col-12 row judge-data">-->
                            <!--<div class="col-6">判题输入：-->
                            <!--<textarea name="code" @change="changeInData(index)" placeholder=""-->
                            <!--class="form-control judge-input"-->
                            <!--autofocus="" data-autofocus="">-->
                            <!--</textarea>-->
                            <!--</div>-->
                            <!--<div class="col-6">判题输出：-->
                            <!--<textarea name="code" @change="changeOutData(index)" placeholder=""-->
                            <!--class="form-control judge-output"-->
                            <!--autofocus="" data-autofocus="">-->
                            <!--</textarea>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div id="submit-msg" class="" style="color: red; text-align: center" hidden="hidden">
                        提交题目信息错误，请检查提交容纳是否有误！
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <button @click="addProblem" class="btn btn-primary btn-lg justify-content-sm-center"
                                type="submit"
                        >
                            添加题目
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- judgeCase template -->
    <div id="JudgeCase">
        <div class="row caseItem">
            <div class="col-12">
                <span class="caseNum">用例</span>
                <button class="btn btn-danger btn-sm" @click="delCase(index)">删除用例</button>
            </div>
            <div class="col-12 row judge-data">
                <div class="col-6">判题输入：
                    <textarea v-model="caseIn" placeholder=""
                              class="form-control judge-input"
                              autofocus="" data-autofocus="">
                </textarea>
                </div>
                <div class="col-6">判题输出：
                    <textarea v-model="caseOut" placeholder=""
                              class="form-control judge-output"
                              autofocus="" data-autofocus="">
                </textarea>
                </div>
            </div>
        </div>
    </div>


    <!--引入footer-->
    <footer th:replace="commons/bar::footer"></footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/webjars/vue/2.5.17/dist/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/wangEditor.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/common.js}"></script>
<script th:src="@{/assets/js/util/validate.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/problem/addProblem.js}"></script>
</body>
</body>
</html>