<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4.bootcss.com/favicon.ico">

    <title>A+B Problem</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"
          rel="stylesheet">
    <link href="../assets/css/common.css" th:href="@{/assets/css/common.css}"
          rel="stylesheet">  
    <style>
        .problem .tit {
            font-size: 18px;
            font-family: "微软雅黑", "黑体", "宋体";
            text-align: center;
            margin: 10px 0px 20px 0px;
            font-weight: bold;
        }
        .problem .des {
            margin: 20px 80px 12px 80px;
            padding: 16px 40px 16px 40px;
            background: #e4f1ff;
        }
        * {
            margin: 0;
            padding: 0;
            font-family: "宋体", "Times New Roman";
        }
        .problem .res {
            text-align: center;
            font-size: 12px;
            color: #0e479d;
            margin: 0px 0px 14px 0px;
        }
        .problem .des .sec_note, .problem .helpbox .helpnote {
            border: #0066FF 1px dashed;
            margin: 8px 60px 12px 32px;
            padding: 8px 12px 8px 12px;
            font-family: "宋体";
        }
        .problem .des .sec_header, .problem .des .pdsec {
            font-family: "微软雅黑", "黑体", "宋体";
            margin: 16px 0px 8px 0px;
            font-size: 16px;
        }
        .codec {
            font-family: "Courier New", Courier, monospace;
            font-size: 14px;
        }
        .code {
            text-indent: 0;
            border-top: double 4px #888888;
            border-bottom: solid 1px #888888;
            margin: 8px 0px 8px 0px;
            padding: 8px 0px 8px 0px;
        }
        .codec .de {
            color: #008000;
        }
        .codec .k, .codec .K {
            font-weight: bold;
        }
        .codec .s, .codec .S {
            color: red;
            font-weight: bold;
        }
        .codejava .k, .codejava .K {
            font-weight: bold;
            color: #7f0055;
        }
        .problem .btns {
            text-align: center;
            margin: 30px 0px 25px 0px;
        }
    </style>
</head>

<body class="bg-light">

<!--引入topbar-->
<div th:replace="commons/bar::topbar"></div>

<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <div class="problem" style="display:block;">
                <div class="tit">&nbsp;A+B问题 &nbsp;</div>
                <div id="prbinfos">
                    <div class="res">时间限制：1.0s &nbsp; 内存限制：256.0MB</div>
                </div>
                <div style="text-align:center">
                    <a class="btn btn-primary"  role="button"
                       th:href="@{/problem/1/submit}">提交此题</a>
                </div>
                <!--<script type="text/javascript">-->
                    <!--if ("1" == "1")-->
                        <!--$("#prbinfos").show();-->
                    <!--else-->
                        <!--$("#prbinfos").hide();-->
                    <!--var isHelpShown = {};-->
                    <!--isHelpShown[1] = false;-->
                    <!--isHelpShown[2] = false;-->
                    <!--isHelpShown[3] = false;-->
                    <!--var canViewTip1 = ("1" == "1");-->
                    <!--var canViewTip2 = ("1" == "1");-->
                    <!--var canViewTip3 = ("1" == "1");-->
                    <!--var haveViewTip1 = ("1" != "0");-->
                    <!--var haveViewTip2 = ("1" != "0");-->
                    <!--var haveViewTip3 = ("1" != "0");-->

                    <!--function clickHelp(hid) {-->
                        <!--var vobj = document.getElementById("help" + hid);-->
                        <!--if (vobj.style.display != "block")-->
                            <!--vobj.style.display = "block";-->
                        <!--else-->
                            <!--vobj.style.display = "none";-->
                        <!--if (!isHelpShown[hid]) {-->
                            <!--isHelpShown[hid] = true;-->
                            <!--$.post("/problem.TrainProblemHelp.dt", {helpid: hid, gpid: "T1"}, function (obj) {-->
                                <!--$("#help" + hid + "value").html(obj["help"]);-->
                            <!--}, "JSON");-->
                        <!--}-->
                    <!--}-->

                    <!--function clickHelp1() {-->
                        <!--clickHelp(1);-->
                    <!--}-->

                    <!--function clickHelp2() {-->
                        <!--clickHelp(2);-->
                    <!--}-->

                    <!--function clickHelp3() {-->
                        <!--location.href = "/refcode.page?gpid=T1";-->
                    <!--}-->

                    <!--function goSubmit() {-->
                        <!--location.href = "/submit.page?gpid=T1";-->
                    <!--}-->

                    <!--if (canViewTip1) {-->
                        <!--$("#vtip1b").addClass("help").attr("disabled", false);-->
                    <!--}-->
                    <!--if (canViewTip2) {-->
                        <!--$("#vtip2b").addClass("help").attr("disabled", false);-->
                    <!--}-->
                    <!--if (!haveViewTip1) {-->
                        <!--$("#vtip1b").hide();-->
                    <!--}-->
                    <!--if (!haveViewTip2) {-->
                        <!--$("#vtip2b").hide();-->
                    <!--}-->
                    <!--if ("none" == "block") {-->
                        <!--var refSp = $("#viewrefcodebtn").append(" &nbsp; ").append("<button class='help' viewref=viewref>查看参考代码</button>");-->
                        <!--refSp.find("[viewref=viewref]").click(clickHelp3);-->
                    <!--}-->
                <!--</script>-->
                <!--<div class="helpbox" id="help1" style="display: none;">-->
                    <!--<div class="helptit">锦囊1</div>-->
                    <!--<div class="helpcont" id="help1value">使用整型变量和输入输出语句。-->
                        <!--<div class="helpnote">-->
                            <!--第一个锦囊是直接可以看的，给出了做题的一个非常简单的提示。-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="helpbox" id="help2" style="display: none;">-->
                    <!--<div class="helptit">锦囊2</div>-->
                    <!--<div class="helpcont" id="help2value">使用整型(int)变量，通过输入语句(C++:cin, C:scanf,-->
                        <!--Java:Scanner.nextInt)将输入的值输入到整型变量中，再把他们的和使用输出语句(C++:cout, C:printf, JAVA:System.out.println)输出。-->
                        <!--<div class="helpnote">-->
                            <!--第二个锦囊需要提交过代码才可以查看，给出了做题的一个思路和算法。-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="helpbox" id="help3" style="display:none">-->
                    <!--<div class="helptit">锦囊3</div>-->
                    <!--<div class="helpcont" id="help3value">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="des">
                    <div class="sec_header">问题描述</div>
                    <div class="sec_cont">输入A、B，输出A+B。
                        <div class="sec_note">说明：在“问题描述”这部分，会给出试题的意思，以及所要求的目标。</div>
                    </div>
                    <div class="sec_header">输入格式</div>
                    <div class="sec_cont">输入的第一行包括两个整数，由空格分隔，分别表示A、B。
                        <div class="sec_note">
                            <p>说明：“输入格式”是描述在测试你的程序时，所给的输入一定满足的格式。</p>
                            <p>做题时你应该假设所给的输入是一定满足输入格式的要求的，所以你不需要对输入的格式进行检查。多余的格式检查可能会适得其反，使用你的程序错误。</p>
                            <p>
                                在测试的时候，系统会自动将输入数据输入到你的程序中，你不能给任何提示。比如，你在输入的时候提示“请输入A、B”之类的话是不需要的，这些多余的输出会使得你的程序被判定为错误。</p>
                        </div>
                    </div>
                    <div class="sec_header">输出格式</div>
                    <div class="sec_cont">输出一行，包括一个整数，表示A+B的值。
                        <div class="sec_note">
                            <p>说明：“输出格式”是要求你的程序在输出结果的时候必须满足的格式。</p>
                            <p>
                                在输出时，你的程序必须满足这个格式的要求，不能少任何内容，也不能多任何内容。如果你的内容和输出格式要求的不一样，你的程序会被判断为错误，包括你输出了提示信息、中间调试信息、计时或者统计的信息等。</p>
                        </div>
                    </div>
                    <div class="sec_header">样例输入</div>
                    <div class="sec_text">12 45
                        <div class="sec_note">
                            <p>说明：“样例输入”给出了一组满足“输入格式”要求的输入的例子。</p>
                            <p>这里给出的输入只是可能用来测试你的程序的一个输入，在测试的时候，还会有更多的输入用来测试你的程序。</p>
                        </div>
                    </div>
                    <div class="sec_header">样例输出</div>
                    <div class="sec_text">57
                        <div class="sec_note">
                            <p>说明：“样例输出”给出了一组满足“输出格式”要求的输出的例子。</p>
                            <p>样例输出中的结果是和样例输入中的是对应的，因此，你可以使用样例的输入输出简单的检查你的程序。</p>
                            <p>
                                要特别指出的是，能够通过样例输入输出的程序并不一定是正确的程序，在测试的时候，会用很多组数据进行测试，而不局限于样例数据。有可能一个程序通过了样例数据，但测试的时候仍只能得0分，可能因为这个程序只在一些类似样例的特例中正确，而不具有通用性，再测试更多数据时会出现错误。</p>
                            <p>比如，对于本题，如果你写一个程序不管输入是什么都输入57，则样例数据是对的，但是测试其他数据，哪怕输入是1和2，这个程序也输出57，则对于其他数据这个程序都不正确。</p>
                        </div>
                    </div>
                    <div class="sec_header">数据规模与约定</div>
                    <div class="sec_cont">-10000 &lt;= A, B &lt;= 10000。
                        <div class="sec_note">
                            <p>说明：“数据规模与约定”中给出了试题中主要参数的范围。</p>
                            <p>
                                这个范围对于解题非常重要，不同的数据范围会导致试题需要使用不同的解法来解决。比如本题中给的A、B范围不大，可以使用整型(int)来保存，如果范围更大，超过int的范围，则要考虑其他方法来保存大数。</p>
                            <p>有一些范围在方便的时候是在“问题描述”中直接给的，所以在做题时不仅要看这个范围，还要注意问题描述。</p>
                        </div>
                    </div>
                    <div class="sec_header">提示</div>
                    <div class="sec_cont">
                        <p>本题的C++源代码如下：</p>
                        <div class="code codec">
                            <ol>
                                <li><span class="de">#include &lt;iostream&gt;</span></li>
                                <li>&nbsp;</li>
                                <li><span class="k">using namespace</span> std<span class="s">;</span></li>
                                <li>&nbsp;</li>
                                <li><span class="k">int</span> main<span class="s">()</span></li>
                                <li><span class="s">{</span></li>
                                <li>&nbsp; &nbsp; <span class="k">int</span> a<span class="s">,</span> b<span class="s">;</span>
                                </li>
                                <li>&nbsp; &nbsp; cin <span class="s">&gt;&gt;</span> a <span class="s">&gt;&gt;</span>
                                    b<span class="s">;</span></li>
                                <li>&nbsp; &nbsp; cout <span class="s">&lt;&lt;</span> a <span class="s">+</span> b<span
                                        class="s">;</span></li>
                                <li>&nbsp; &nbsp; <span class="k">return</span> <span class="n">0</span><span class="s">;</span>
                                </li>
                                <li><span class="s">}</span></li>
                            </ol>
                        </div>
                        <p>本题的C源代码如下：</p>
                        <div class="code codec">
                            <ol>
                                <li><span class="de">#include &lt;stdio.h&gt;</span></li>
                                <li>&nbsp;</li>
                                <li><span class="k">int</span> main<span class="s">()</span></li>
                                <li><span class="s">{</span></li>
                                <li>&nbsp; &nbsp; <span class="k">int</span> a<span class="s">,</span> b<span class="s">;</span>
                                </li>
                                <li>&nbsp; &nbsp; scanf<span class="s">(</span><span class="st">"%d%d"</span>, <span
                                        class="s">&amp;</span>a<span class="s">,</span> <span
                                        class="s">&amp;</span>b<span class="s">);</span></li>
                                <li>&nbsp; &nbsp; printf<span class="s">(</span><span class="st">"%d\n"</span><span
                                        class="s">,</span> a<span class="s">+</span>b<span class="s">);</span></li>
                                <li>&nbsp; &nbsp; <span class="k">return</span> <span class="n">0</span><span class="s">;</span>
                                </li>
                                <li><span class="s">}</span></li>
                            </ol>
                        </div>
                        <p>本题的Java源代码如下：</p>
                        <div class="code codejava">
                            <ol>
                                <li><span class="k">import</span> java.util.*;</li>
                                <li>&nbsp;</li>
                                <li><span class="k">public</span> <span class="k">class</span> Main</li>
                                <li><span class="s">{</span></li>
                                <li>&nbsp; &nbsp; <span class="k">public</span> <span class="k">static</span> <span
                                        class="k">void</span> main<span class="s">(</span>String args<span
                                        class="s">[])</span></li>
                                <li>&nbsp; &nbsp; <span class="s">{</span></li>
                                <li>&nbsp; &nbsp; &nbsp; &nbsp; Scanner sc <span class="s">=</span> <span
                                        class="k">new</span> Scanner<span class="s">(</span>System.in<span
                                        class="s">);</span></li>
                                <li>&nbsp; &nbsp; &nbsp; &nbsp; Integer a <span class="s">=</span> sc.nextInt<span
                                        class="s">();</span></li>
                                <li>&nbsp; &nbsp; &nbsp; &nbsp; Integer b <span class="s">=</span> sc.nextInt<span
                                        class="s">();</span></li>
                                <li>&nbsp; &nbsp; &nbsp; &nbsp; System<span class="s">.</span>out<span
                                        class="s">.</span>println<span class="s">(</span>a <span class="s">+</span>
                                    b<span class="s">)</span><span class="s">;</span></li>
                                <li>&nbsp; &nbsp; <span class="s">}</span></li>
                                <li><span class="s">}</span></li>
                            </ol>
                        </div>
                        <div class="sec_note">
                            <p>说明：要答题，请点击页面上方的“提交此题”按钮，页面将跳转到提交代码的页面，选择好你的编译语言，将你的编写好的代码粘贴到代码框中，再点击“提交答案”即可。</p>
                            <p>你的答案提交给系统后系统会自动对你的代码进行判分，并跳转到结果的列表里面，你可以直接从列表中看到你提交的代码的状态，一般几秒钟后就可以看到判分的结果。</p>
                            <p>本题作为第一题，在提示中已经分别给了C++和Java的代码，你可以直接把这个代码拷贝过去作为自己的代码提交。</p>
                            <p>请特别注意，Java的主类名必须是Main。</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2019- Li Mingzhong</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../static/assets/js/jquery-3.2.1.slim.min.js"
        th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript" src="../static/assets/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
</body>
</html>