<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4.bootcss.com/favicon.ico">

    <title>A+B Problem</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"
          rel="stylesheet">
    <link href="../assets/css/common.css" th:href="@{/assets/css/common.css}"
          rel="stylesheet">  
    <style>
        .section__title{
            font-size: 1.125em;
        }
        textarea.textbox {
            height: 295px;
        }
    </style>
</head>

<body class="bg-light">

<!--引入topbar-->
<div th:replace="commons/bar::topbar"></div>

<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-10 order-md-1 offset-1 pl-3" style="background-color: rgb(228, 241, 255);">
            <div class="section visible mx-3">
                <div class="section__header">
                    <h2 class="section__title my-4" >递交以评测</h2>
                    <!--判断-->
                    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                </div>
                <div class="section__body">
                    <form th:action="@{/solution/submit}" method="post">
                        <div class="input-group mb-4  col-6" style="padding-left: 0;">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">代码语言</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" name="language">
                                <option selected value="c">C</option>
                                <!--<option value="1">C++</option>-->
                                <!--<option value="2">Java</option>-->
                            </select>
                        </div>

                        <div class="mb-4">
                            <div name="code" class="textarea-container monospace">
                                <textarea name="code" placeholder="" class="textbox form-control" autofocus=""
                                          data-autofocus=""></textarea>
                            </div>

                        </div>


                        <div class="mb-4">
                            <div class="columns">
                                <input type="hidden" name="problemId"
                                       th:value="${pid}">
                                <input type="submit" class="btn btn-danger" value="提交评测">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2019- Li Mingzhong</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../static/assets/js/jquery-3.2.1.slim.min.js"
        th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript" src="../static/assets/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
</body>
</html>